*~
*.un~
*.a
*.bak
*.cproject
*.done
*dump.txt
*.elf
*.html
*.jdi
*.map
*.o
*.objdump
*.pin
*.project
*.rpt
*.smsg
*.sld
*.sof
*.summary
*summary.csv

/db/
/incremental_db/
/.qsys_edit/
/soc_system/
/software/.metadata
/software/niosmaster/obj/
/software/niosmaster_bsp/obj/
